* {
  margin: 0px;
}

body {
  background-color: rgba(184, 184, 212, 0.582);
  min-height: calc(100vh - 64px - 48px);
}

main {
  min-height: calc(100vh - 64px - 48px);
}

header {
  background-color: rgb(126, 253, 255);
  margin: 0;
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-weight: 700;
  font-size: 2rem;
}

header > * {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#nav_bottom {
  background-color: yellow;
  position: sticky;
  bottom: 0;
  height: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#nav_bottom > span {
  margin: auto;
}

#nav_bottom > span * {
  text-decoration: none;
  color: black;
}
